.v-data-table.custom {
  th {
    span {
      word-break: keep-all;
    }
  }

  tbody {
    td {
      word-break: keep-all;

      img {
        max-width: 100px;
        border-radius: 10px;
      }
    }
  }
}
.v-application .green{
  background: linear-gradient(214deg,#0e7868,#369465);
  color: #fff;
}

.mytab {
  .v-slide-group__prev.v-slide-group__prev--disabled {
    display: none !important;
  }
}
.v-dialog{
  box-shadow: 0 0 0 rgba(0,0,0,0);
}

.dialog-cancle-foot .v-btn{
  width: 120px;
}

.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined){
  box-shadow: 0 0 0 rgb(0, 0, 0 ,0) !important;
}


//button 
.btn-white-radius-medium{
  padding: 0 5px !important;
  height: 40px !important;
  line-height: 38px !important;
  background: #fff !important;
  border:solid 1px #0E7868;
  border-radius: 20px !important;
  color: #0E7868 !important; 
  box-shadow: 0 0 0 rgb(0, 0, 0 ,0) !important;  
}
.btn-green-radius-medium{
  padding: 0 5px !important;
  height: 40px !important;
  line-height: 40px !important;
  background: #0E7868 !important;
  border-radius: 20px !important;
  color: #fff !important;  
  box-shadow: 0 0 0 rgb(0, 0, 0 ,0) !important;
}

.btn-green-radius-large{
  min-width: 100px !important;
  height: 48px !important;
  background: #0E7868 !important;
  color: #fff !important;
  border-radius: 32px !important;
  font-size: 16px !important;
  box-shadow: 0 0 0 rgb(0, 0, 0 ,0) !important;
}

.btn-gray-radius-large{
  min-width: 100px !important;
  height: 48px !important;
  background: #fff !important;
  color: #000 !important;
  border:solid 1px #CACACA;
  border-radius: 32px !important;
  font-size: 16px !important;
  box-shadow: 0 0 0 rgb(0, 0, 0 ,0) !important;
}


//link
.link-black{
  text-decoration: none;
  color: #000 !important;
}
.link-green{
  color: #0E7868 !important;
}

.text-ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  word-break: break-all !important;
}